</!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="update/{{name.id}}" method="POST">
		{%csrf_token%}
			<input type="text" name="fname" value="{{name.fname}}">
			<input type="text" name="lname" value="{{name.lname}}">
			<input type="submit" value="submit">
	</form>
</body>
</html>>