</!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="create" method="POST">
		{%csrf_token%}
			<input type="text" name="fname">
			<input type="text" name="lname">
			<input type="submit" value="submit">
	</form>
		{% for i in name %}
			{{i.fname}} {{i.lname}} <a href="delete/{{i.id}}">del</a> <a href="edit/{{i.id}}">edit</a>
			<br>
		{% endfor %}
</body>
</html>>